@keyframes grow {
    from {width: 0; height: 0;}
    to {width: 100%; height: 80vh;}
}

:root {
    /* Put variables here */
     --main-color: #e5e5e5;
     --accent-1: #ffffff;
     --accent-2: #c25e00;
     --accent-3: #14213d;
     --accent-4: #000000;
     }
     
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }
     
   body {
       background: var(--main-color);
     }
     
   header {
       padding: 2rem;
       text-align: right;
       font-size: 1.5rem;
    }

    header a {
        text-decoration: none;
        padding: .5rem;
        color: var(--accent-1);
        background-color: var(--accent-2);
        border-radius: 1rem;
    }

    header a:hover {
        background-color: rgba(180, 88, 2, 0.7);
    }
     
    nav {
       color: white;
       text-align: center;
     }

     nav ul {
         list-style-type: none;
     }

     nav li {
         display: inline;
     }

     nav li a {
         display: inline-block;
         color: black;
         padding: 2.5vh 3vw;
         font-size: 2em;
         text-decoration: none;
         transition: padding .5s ease;
     }

     nav li a:hover {
         color: var(--accent-3);
         border-bottom: .5rem solid var(--accent-2);
         padding: 2.5vh 4vw;
     }
     
   footer {
       background: var(--accent-3);
       color: white;
       padding: 3rem;
       min-height: 10vh;
     }
     
   .container {
       background: var(--accent-2);
       padding: 1rem;
       min-height: 60vh;
       width: 80%;
       margin: auto;
     }

     .cover-photo {
         height: 80vh;
         margin: auto;
         background: lightgray;
         /* image is 3200 x 1800 */
         background-image: url('../images/coverPhoto1.png');
         background-position: center;
         background-size: cover;
         animation-name: grow;
         animation-duration: 1.5s;
    }

    .overlay {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay-inner {
        color: white;
        text-align: center;
    }
    .overlay-inner h1 {
        font-size: 3rem;
        padding: 1rem;
    }
    .overlay-inner p {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }

    .cta-button {
        display: block;
        max-width: 350px;
        margin: 2vh auto;
        padding: 1.5rem;
        border-radius: 1rem;
        color: white;
        background: var(--accent-3);
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        transition: background-color .5s ease;
    }

    .cta-button:hover {
        background-color: rgba(20, 33, 61, .7);
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        min-height: 30vh;
        margin: 2vh 0;
    }

    .row-dark {
        background-color: lightgray;
    }

    .row .media {
        flex-basis: 40%;
    }

    .row .text {
        font-size: 1.25rem;
        flex-basis: 60%;
    }

    .media img {
        display: block;
        width: 92%;
        margin: auto;
    }

    .text h2 {
        padding: 2vh;
    }

    .text p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding: 2vh;
    }


    /* Contact Page CSS */
    .contact-row {
        width: 80%;
        max-width: 1100px;
        margin: 3vh auto;
    }

    .contact-row .cta-button {
        font-size: 1rem;
        padding: 1rem;
        max-width: 50%;
    }
     
     @media only screen and (max-width: 800px) {
       .container {
         background: var(--accent-2);
         color: black;
         width: 100%;
       }
    }