@keyframes grow {
    from {width: 0; height: 0;}
    to {width: 100%; height: 80vh;}
}

:root {
    /* Put variables here */
     --main-color: #e5e5e5;
     --accent-1: #ffffff;
     --accent-2: #c25e00;
     --accent-3: #14213d;
     --accent-4: #000000;
     }
     
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Kiwi Maru', serif;
     }
     
   body {
       background: var(--main-color);
     }
     
   header {
       padding: 0;
       text-align: right;
       font-size: 1.5rem;
    }

    header .iconbar {
        font-size: 2rem;
        margin: .5rem;
        padding: .5rem;
    }

    header .iconbar a {
        color: var(--accent-2);
        padding: .5rem;
    }

    header .iconbar a:hover {
        color: rgba(20, 33, 61, 0.747);
    }
     
    nav {
       overflow: hidden; 
       color: white;
       text-align: center;
       display: flex;
       font-family: 'Anton', sans-serif;
       align-items: center;
       justify-content: center;
     }

     nav a {
        color: black;
        padding: 2.5vh 3vw;
        font-size: 2em;
        text-decoration: none;
        transition: padding .5s ease;
        display: block;
        float: left;
        text-align: center;
        padding: 5px 16px;
        border-bottom: .5rem solid rgba(230, 230, 230, 0);
     }

     nav a:hover {
         color: var(--accent-3);
         border-bottom: .5rem solid var(--accent-2);
     }
     
   footer {
       background: var(--accent-3);
       color: white;
       padding: 3rem;
       min-height: 10vh;
     }
     
   .row {
       background: var(--main-color);
       padding: 1rem;
       min-height: 60vh;
       width: 90%;
       margin: auto;
       transition: .25s ease;
     }

     .cover-photo {
         height: 80vh;
         margin: auto;
         background: lightgray;
         /* image is 3200 x 1800 */
         background-image: url('../images/blue-iguana-1400x686.jpg');
         background-position: center;
         background-size: cover;
         animation-name: grow;
         animation-duration: 1.5s;
    }

    .overlay {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay-inner {
        color: white;
        text-align: center;
    }

    .overlay-inner h1 {
        font-size: 3rem;
        padding: 1rem;
        font-family: 'Anton', sans-serif;
    }

    .overlay-inner p {
        font-size: 1.75rem;
        line-height: 2.5rem;
        font-family: 'Anton', sans-serif;
    }

    .titleof {
        background-color: var(--accent-3);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        font-family: 'Anton', sans-serif;
    }

    .cta-button {
        display: block;
        max-width: 350px;
        margin: 4vh auto;
        padding: 1.5rem;
        border-radius: 1rem;
        color: white;
        background: var(--accent-3);
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        transition: background-color .5s ease;
        font-family: 'Anton', sans-serif;
    }

    .cta-button:hover {
        background-color: rgba(20, 33, 61, .7);
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        min-height: 30vh;
        margin: 2vh 0;
    }

    .row .media {
        flex-basis: 40%;
    }

    .row .text {
        font-size: 2rem;
        flex-basis: 60%;
    }

    .media img {
        display: block;
        width: 92%;
        margin: auto;
    }

    .text h2 {
        padding: 2vh;
        font-family: 'Anton', sans-serif;
    }

    .text p {
        font-size: 1.75rem;
        line-height: normal;
        padding: 2vh;
    }

    .row ul {
        text-align: center;
        display: inline-block;
        margin: auto;
    }

    .row ul p {
        font-size: 3rem;
        border-bottom: .75rem solid #14213d;
        margin-bottom: 1.2rem;
    }

    .row ul li {
        font-size: 2rem;
        padding: 2rem;
        list-style: none;
    }


.ticket-container {
    flex-flow: column wrap;
    gap: 3vh 3vh;
}

.tgrid-item {
    text-align: center;
    flex: 0 0 100%;
    margin-bottom: 15vh;
    border: 5px solid var(--accent-2);
    border-left: 0;
    border-right: 0;
    grid-template-rows: auto 45vh auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
     "name"
     "pic"
     "price"
     "button";
}

.tgrid-image {
    padding-bottom: 2vh;
}

.tgrid-image img {
    height: 20%;
    width: 100%;
}

.tgrid-item h3 {
    grid-area: name;
    padding: 2vh;
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;
}

.tgrid-item h4 {
    grid-area: price;
    padding: 2vh;
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    border: 3px solid var(--accent-2);
    font-size: 2rem;
    width: 50%;
    margin: 3vh auto;
    text-align: center;
}

.tgrid-item .cta-button {
    grid-area: button;
    max-width: 300px;
    width: 300px;
}




/* Lizard Page CSS*********************************************************/




.lizard-container {
    display: flex;
    flex-flow: row wrap;
    gap: 3vh 3vh;
    width: 100%;
    margin: auto;
    padding-right: 1rem;
}

.lgrid-item {
    flex: 0 0 45%;
    padding: 2vh;
    margin: auto;
    display: grid;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
        "pic name"
        "pic price"
        "pic button";
}

.lgrid-image {
    grid-area: pic;
}

.lgrid-image img {
    display: block;
    width: 90%;
    margin: auto;
}

.lgrid-item h3 {
    grid-area: name;
    padding: 2vh;
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;
}

.lgrid-item h4 {
    grid-area: price;
    padding: 2vh;
    font-weight: normal;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}

.lgrid-item .cta-button {
    grid-area: button;
    max-width: 300px;
    width: 300px;
}





    /* Contact Page CSS **********************************************************/




    .contact-container {
        box-sizing: border-box;
        position: relative;
        min-height: 45vh;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr;
        gap: 3vh 3vh;
        width: 100%;
        margin: 5% auto;
        padding: 3vh;
        height: 100%;
    }
    
    .c-item {
        overflow: hidden;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 2fr 0;
        grid-template-rows: 3fr 3fr 3fr;
        text-align: center;
        width: 100%;
        height: 35rem;
        border: 5px solid var(--accent-2);
        flex: 0 0 45%;
        padding: 2vh;
        margin: auto;
    }
    
    .c-item h3 {
        box-sizing: border-box;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 2vh;
        font-size: 2.5rem;
        font-family: 'Anton', sans-serif;
    }

    .c-item i {
        box-sizing: border-box;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 10rem;
    }
    
    .c-item .cta-button {
        box-sizing: border-box;
        grid-row-start: 3;
        grid-row-end: 4;
        max-width: 300px;
        min-width: 50px;
        width: 17rem;
        max-height: 4.8rem;
    }



    /* Media Page CSS ****************************************************************/



     @media only screen and (max-width: 800px) {

       .row {
         color: black;
         width: 100%;
       }


       /* General CSS */


       header, footer {
           text-align: center;
       }

       nav a {
           display: block;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
           transition: none;
       }

        nav a:hover {
            color: var(--accent-2);
            padding: 14px 16px;
            border-bottom: 0;
       }

       .row {
           flex-direction: column;
           text-align: center;
       }


       /* Ticket page *********************************************************************/


       .ticket-container {
           flex-flow: column wrap;
       }

       .tgrid-item {
           text-align: center;
           flex: 0 0 100%;
           grid-template-rows: auto 45vh auto auto;
           grid-template-columns: 100%;
           grid-template-areas: 
            "name"
            "pic"
            "price"
            "button";
       }

       .tgrid-image {
           padding: 2vh;
       }

       .tgrid-image img {
           height: 100%;
           width: 80%;
       }


       /* Lizard Page ***************************************************/


       .lgrid-item {
        text-align: center;
        flex: 0 0 100%;
        grid-template-rows: auto 45vh auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
         "name"
         "pic"
         "price"
         "button";
    }

    .lgrid-image {
        padding: 2vh;
    }

    .lgrid-image img {
        height: 100%;
        width: 80%;
    }


    /* Contact Page */


    .contact-container {
        flex-flow: column wrap;
        gap: 3vh 3vh;
    }
    
    .cgrid-item {
        text-align: center;
        flex: 0 0 100%;
        margin-bottom: 15vh;
        border: 5px solid var(--accent-2);
        border-left: 0;
        border-right: 0;
        grid-template-rows: auto 45vh auto;
        grid-template-columns: 100%;
        grid-template-areas: 
         "hthree"
         "mid"
         "button";
    }
    
    .cgrid-item h3 {
        grid-area:hthree;
        padding: 2vh;
        font-size: 2.5rem;
        font-family: 'Anton', sans-serif;
    }
    
    .cgrid-item i {
        grid-area: mid;
        padding: 2vh;
        font-weight: normal;
        font-family: 'Anton', sans-serif;
        border: 3px solid var(--accent-2);
        font-size: 2rem;
        width: 50%;
        margin: 3vh auto;
        text-align: center;
    }
    
    .cgrid-item .cta-button {
        grid-area: button;
        max-width: 300px;
        width: 300px;
    }

    }