@keyframes grow {
    from {width: 0; height: 0;}
    to {width: 100%; height: 80vh;}
}

:root {
    /* Put variables here */
     --main-color: #e5e5e5;
     --accent-1: #ffffff;
     --accent-2: #c25e00;
     --accent-3: #14213d;
     --accent-4: #000000;
     }
     
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Kiwi Maru', serif;
     }
     
   body {
       background: var(--main-color);
     }
     
   header {
       padding: 2rem;
       text-align: right;
       font-size: 1.5rem;
    }

    header .iconbar {
        font-size: 2rem;
        margin: .5rem;
        padding: .5rem;
    }

    header .iconbar a {
        color: var(--accent-2);
        padding: .5rem;
    }

    header .iconbar a:hover {
        color: rgba(20, 33, 61, 0.747);
    }
     
    nav {
       overflow: hidden; 
       color: white;
       text-align: center;
       display: flex;
       font-family: 'Anton', sans-serif;
       align-items: center;
       justify-content: center;
     }

     nav a {
        color: black;
        padding: 2.5vh 3vw;
        font-size: 2em;
        text-decoration: none;
        transition: padding .5s ease;
        display: block;
        float: left;
        text-align: center;
        padding: 5px 16px;
        border-bottom: .5rem solid rgba(230, 230, 230, 0);
     }

     nav a:hover {
         color: var(--accent-3);
         border-bottom: .5rem solid var(--accent-2);
     }
     
   footer {
       background: var(--accent-3);
       color: white;
       padding: 3rem;
       min-height: 10vh;
     }
     
   .row {
       background: var(--main-color);
       padding: 1rem;
       min-height: 60vh;
       width: 90%;
       margin: auto;
       transition: .25s ease;
     }

     .cover-photo {
         height: 80vh;
         margin: auto;
         background: lightgray;
         /* image is 3200 x 1800 */
         background-image: url('../images/blue-iguana-1400x686.jpg');
         background-position: center;
         background-size: cover;
         animation-name: grow;
         animation-duration: 1.5s;
    }

    .overlay {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay-inner {
        color: white;
        text-align: center;
    }

    .overlay-inner h1 {
        font-size: 3rem;
        padding: 1rem;
        font-family: 'Anton', sans-serif;
    }

    .overlay-inner p {
        font-size: 1.75rem;
        line-height: 2.5rem;
        font-family: 'Anton', sans-serif;
    }

    .titleof {
        background-color: var(--accent-3);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        font-family: 'Anton', sans-serif;
    }

    .cta-button {
        display: block;
        max-width: 350px;
        margin: 4vh auto;
        padding: 1.5rem;
        border-radius: 1rem;
        color: white;
        background: var(--accent-3);
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        transition: background-color .5s ease;
        font-family: 'Anton', sans-serif;
    }

    .cta-button:hover {
        background-color: rgba(20, 33, 61, .7);
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        min-height: 30vh;
        margin: 2vh 0;
    }

    .row .media {
        flex-basis: 40%;
    }

    .row .text {
        font-size: 2rem;
        flex-basis: 60%;
    }

    .media img {
        display: block;
        width: 92%;
        margin: auto;
    }

    .text h2 {
        padding: 2vh;
        font-family: 'Anton', sans-serif;
    }

    .text p {
        font-size: 1.75rem;
        line-height: normal;
        padding: 2vh;
    }

    .row ul {
        text-align: center;
        display: inline-block;
        margin: auto;
    }

    .row ul p {
        font-size: 3rem;
        border-bottom: .75rem solid #14213d;
        margin-bottom: 1.2rem;
    }

    .row ul li {
        font-size: 2rem;
        padding: 2rem;
        list-style: none;
    }



/* Ticket Page */

/* .ticket-container {
    display: grid;
    justify-content: center;
    flex-flow: row wrap;
    gap: 3vh 3vh;
    width: 100%;
    margin: auto;
    padding-right: 1rem;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    /* grid-template-areas: **********************************************************HERE*****************
    ;
} */

.ticket-container {
    flex-flow: column wrap;
    gap: 3vh 3vh;
}

.tgrid-item {
    text-align: center;
    flex: 0 0 100%;
    margin-bottom: 15vh;
    border: 5px solid var(--accent-2);
    border-left: 0;
    border-right: 0;
    grid-template-rows: auto 45vh auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
     "name"
     "pic"
     "price"
     "button";
}

.tgrid-image {
    padding-bottom: 2vh;
}

.tgrid-image img {
    height: 20%;
    width: 100%;
}

.tgrid-item h3 {
    grid-area: name;
    padding: 2vh;
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;
}

.tgrid-item h4 {
    grid-area: price;
    padding: 2vh;
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    border: 3px solid var(--accent-2);
    font-size: 2rem;
    width: 50%;
    max-width: 350px;
    margin: 3vh auto;
    text-align: center;
}

.tgrid-item .cta-button {
    grid-area: button;
    max-width: 300px;
    width: 300px;
}




/* Lizard Page CSS***************************************** */


.lizard-container {
    display: flex;
    flex-flow: row wrap;
    gap: 3vh 3vh;
    width: 100%;
    margin: auto;
    padding-right: 1rem;
}

.lgrid-item {
    flex: 0 0 45%;
    padding: 2vh;
    margin: auto;
    display: grid;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
        "pic name"
        "pic price"
        "pic button";
}

.lgrid-image {
    grid-area: pic;
}

.lgrid-image img {
    display: block;
    width: 90%;
    margin: auto;
}

.lgrid-item h3 {
    grid-area: name;
    padding: 2vh;
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;
}

.lgrid-item h4 {
    grid-area: price;
    padding: 2vh;
    font-weight: normal;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}

.lgrid-item .cta-button {
    grid-area: button;
    max-width: 300px;
    width: 300px;
}




















    /* Contact Page CSS */

    header .contact a {
        text-decoration: none;
        padding: .5rem;
        color: var(--accent-1);
        background-color: var(--accent-3);
        border-radius: .5rem;
    }

    header .contact a:hover {
        background-color: rgba(180, 88, 2, 0.7);
    }

    .contact-row {
        width: 90%;
        margin: 3vh auto;
        border-top: 3px solid var(--accent-2);
        padding-top: 2rem;
        text-align: center;
    }

    .contact-row .cta-button {
        font-size: 2rem;
        padding: 2rem;
        max-width: 50%;
    }


    /* Cars Page */

    /* 

    .car-section-header {
        font-size: 2rem;
        padding: 2vh;
        border-bottom: 3px solid var(--accent-2);
        color: var(--accent-3);
        font-family: 'Anton', sans-serif;
    }

    .car-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        width: 90%;
        margin: 2vh auto;
    }

    .car-item {
        width: 30%;
        margin: 1rem;
        background: lightgray;
        overflow: hidden;
        border-radius: 12px;
    }
    
    .car-image {
        position: relative;
        width: 100%;
        height: 30vh;
    }

    .car-image img {
        display: block;
        height: 100%;
    }

    .car-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .6);
        color: white;
        text-align: center;
        font-size: 1.25rem;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .car-item:hover .car-overlay {
        height: 100%;
    }

    .car-overlay p {
        width: 90%;
    }

    .car-overlay .cta-button {
        font-size: 1.4rem;
        padding: .5rem;
        width: 70%;
    }

    .car-overlay .cta-button:hover {
        background-color: var(--accent-2);
    }

    .car-text h4 {
        font-size: 1.75rem;
        padding: .5rem;
        font-family: 'Anton', sans-serif;
    }

    .car-text p {
        font-size: 1.25rem;
        padding: .5rem;
        line-height: 1.75rem;
    }
*/

    /* Deals Page CSS */
/*

    .deals-container {
        display: flex;
        flex-flow: row wrap;
        gap: 2.5vh 1vw;
        width: 80%;
        margin: 2vh auto;
    }

    .deals-item {
        flex: 0 0 49.33%;
        position: relative;
    }

    .deals-item img {
        display: block;
        width: 100%;
    }
    
    .deals-overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .6);
        color: var(--accent-1);
        text-align: center;
        font-size: 1.25rem;
        overflow: hidden;
        width: 0;
        height: 0;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .deals-item:hover .deals-overlay {
        height: 100%;
        width: 50%;
    }

    .deals-overlay .cta-button {
        width: 90%;
        font-size: 1.75rem;
        background-color: var(--accent-2);
    }

    .deals-overlay .cta-button:hover {
        background-color: rgba(180, 88, 2, 0.7);
    }
*/
























     @media only screen and (max-width: 800px) {
       .row {
         color: black;
         width: 100%;
       }


       /* General CSS */


       header, footer {
           text-align: center;
       }

       /* nav {
           overflow: hidden;
       } */

       nav a {
           display: block;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
           transition: none;
       }

        nav a:hover {
            color: var(--accent-2);
            padding: 14px 16px;
            border-bottom: 0;
       }


       /* index page */


       .row {
           flex-direction: column;
           text-align: center;
       }


       /* Vehicles page */


       .car-container {
           flex-direction: column;
       }

       .car-item {
           width: 100%;
           text-align: center;
       }

       .car-image img {
           width: 100%;
       }

       .car-section-header {
           text-align: center;
           margin: 3vh auto;
           border-top: 3px solid var(--accent-2);
       }

       
       /* Deals page */


       .deals-container {
           flex-flow: column wrap;
       }

       .deals-item:hover .deals-overlay {
           width: 100%;
       }

       .deals-overlay .cta-button {
           width: 60%;
           padding: 2vh;
       }


       /* Team page */


       .team-container {
           flex-flow: column wrap;
       }

       .tgrid-item {
           text-align: center;
           flex: 0 0 100%;
           grid-template-rows: auto 45vh auto auto;
           grid-template-columns: 100%;
           grid-template-areas: 
            "name"
            "pic"
            "price"
            "button";
       }

       .tgrid-image {
           padding: 2vh;
       }

       .tgrid-image img {
           height: 100%;
           width: 80%;
       }

       .lgrid-item {
        text-align: center;
        flex: 0 0 100%;
        grid-template-rows: auto 45vh auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
         "name"
         "pic"
         "price"
         "button";
    }

    .lgrid-image {
        padding: 2vh;
    }

    .lgrid-image img {
        height: 100%;
        width: 80%;
    }


    }